body {
    font-family: Noto Sans;
}

header {
    text-align: center;
}

h3 {
    font-family: Single Day;
    font-size: 50px;
    margin: 0;
    border-bottom: solid rgb(174, 168, 168) 1px;
}

p {
    margin-bottom: 10px;
}

select {
    color: rgb(239, 161, 15);
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    font-family: Noto Sans;
}

#select-drop {
    text-align: center;
}
